---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    title: "Frontend Engineer",
    description:
      "Abordo proyectos transversales dia a dia, para lograr la mejor arquitectura moderna, escalable y mantenible.",
    company: "Yape",
    date: "Jul 2024 - Actualmente",
    link: "https://yape.com.pe/",
  },
  {
    title: "Fullstack Engineer",
    company: "Samishop",
    description:
      "Constantemente desarrollaba funcionalidades bajo demanda en el mundo ecommerce, siempre focalizado en mejorar la experiencia del usuario final.",
    date: "Sep 2022 - Jun 2024",
  },
  {
    title: "Data Analyst Engineer",
    company: "Attach Media",
    description:
      "Uso datos masivos para implementar mejoras estrategias de marketing y crecimiento de la marca.",
    date: "Mar 2021 - Ago 2022",
    link: "https://attachmedia.com/",
  },
  {
    title: "Fullstack Engineer",
    company: "Repuestock",
    description:
      "Digitalizar el comercio de autopartes desarrollando la tienda online y su administrador.",
    date: "Ago 2019 - Mar 2021",
    link: "https://repuestock.com/",
  },
];
---

<ol class="relative border-s border-gray-700 ml-3">
  {
    EXPERIENCES.map(({ title, company, description, date, link }) => (
      <li class="flex flex-col gap-y-1 mb-10 ms-4 md:ms-6">
        <ExperienceItem
          title={title}
          company={company}
          description={description}
          date={date}
          link={link}
        />
      </li>
    ))
  }
</ol>
