---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    title: "Frontend Engineer",
    description:
      "Abordo proyectos transversales dia a dia, para lograr la mejor arquitectura moderna, escalable y mantenible.",
    company: "Yape",
    date: "Jul 2024 - Presente",
    link: "https://yape.com.pe/",
  },
  {
    title: "Fullstack Engineer",
    company: "Samishop",
    description:
      "Constantemente desarrollaba funcionalidades bajo demanda en el mundo ecommerce, siempre focalizado en mejorar la experiencia del usuario final.",
    date: "Sep 2022 - Jun 2024",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCES.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem
          title={experience.title}
          company={experience.company}
          description={experience.description}
          date={experience.date}
          link={experience.link}
        />
      </li>
    ))
  }
</ol>
